.wrapper {
    min-height: 100vh;
    background: darkgrey url("https://img.freepik.com/free-vector/flying-airplane-with-place-text_118124-4423.jpg?size=626&ext=jpg") no-repeat top / cover;
}

.container {
    min-height: 100vh;
    max-width: 40vw;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(33, 141, 118, 0.91);
}